/* This file contains standardized sizes */
/* this file resetes and sets default values globally */

/* This file contains all the fonts, I've opted to use them locally since using google fonts will make the site breach GDPR */
/* Source:https://thehackernews.com/2022/01/german-court-rules-websites-embedding.html */
/* https://rewis.io/urteile/urteil/lhm-20-01-2022-3-o-1749320/ */
/* LG München, Urteil vom 20.01.2022, Az. 3 O 17493/20 (REWIS RS 2022, 1892)*/

@import "./_fonts.css";
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 24px;
}

.landing-header {
  background-color: #efeeee;
  padding: 36px 88px;
  font-size: 28px;
  width: 100%;
}

.landing-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-header__list {
  display: flex;
  list-style: none;
  gap: 92px;
  font-weight: 500;
}

.landing-header__link {
  text-decoration: none;
  color: #000000;
}

.landing-header__link:hover {
  text-decoration: underline;
}

.order-section {
  margin: 24px auto;
  width: 80%;
  display: flex;
  background-color: #f7f6ed;
  border-radius: 12px;
  box-shadow: 66px 76px 28px 0px rgba(0, 0, 0, 0),
    42px 49px 26px 0px rgba(0, 0, 0, 0.01),
    24px 27px 22px 0px rgba(0, 0, 0, 0.05),
    11px 12px 16px 0px rgba(0, 0, 0, 0.09), 3px 3px 9px 0px rgba(0, 0, 0, 0.1);
}

.order-section__form {
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-auto-rows: 25px;
  align-items: center;
  column-gap: 44px;
  margin: 12px 0;
  row-gap: 24px;
}
.order-section__button {
  margin: 12px;
}

.column > .order-section__summary-image {
  width: unset;
  border-radius: unset;
}

.order-section__summary {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.order-section__answer {
  border-bottom: 1px solid #dddbdb;
  grid-column: 1;
  padding-bottom: 12px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order-section img {
  width: 70%;
}

.order-section__right {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 68px;
}

.order-section__button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.order-section__option {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 1;
}

.button {
  padding: 24px;
  height: 50px;
  border-radius: 12px;
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.button:hover {
  background: #fffaca;
}

.button--submit {
  display: flex;
  height: 63px;
  width: 260px;
  padding: 20px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #000;
  background: #e9e9e9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.build-car {
  margin: 0 auto;
  width: 80%;
}

.build-car__title {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.order__label {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order__input {
  width: 33px;
  height: 29px;
}

.order-section__cta {
  grid-row-start: 8;
  grid-column: 2;
  grid-row-end: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  place-self: center;
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.column {
  flex-direction: column;
  box-shadow: unset;
  gap: 42px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .order-section {
    flex-direction: column;
    height: 100%;
  }

  .order-section__right {
    margin-left: 0;
  }

  .order-section img {
    width: 100%;
  }

  .order-section__form {
    grid-template-columns: 1fr;
  }
}
