/* This file contains standardized sizes */
/* this file resetes and sets default values globally */

/* This file contains all the fonts, I've opted to use them locally since using google fonts will make the site breach GDPR */
/* Source:https://thehackernews.com/2022/01/german-court-rules-websites-embedding.html */
/* https://rewis.io/urteile/urteil/lhm-20-01-2022-3-o-1749320/ */
/* LG München, Urteil vom 20.01.2022, Az. 3 O 17493/20 (REWIS RS 2022, 1892)*/

@import "./_fonts.css";
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.landing-header {
    background-color: #efeeee;
    padding: 36px 88px;
    font-size: 28px;
}

.landing-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap:92px;
  font-weight: 500;
}

.landing-link {
    text-decoration: none;
    color: #000000;
}

.landing-link:hover {
    text-decoration: underline;
    color: #000000;
}

.landing-main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px;
}

.landing-hero, .landing-customization{
    height: 450px;
    width: 100%;
    border-radius: 12px;
}

.ladning-hero__title{
    font-size: 50px;
    font-weight: bold;
}

.lading-hero__text{
    font-size: 24px;
    font-weight: 500;
}

.ladding-hero--top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}

.landing-hero__overlay {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 40px;
}

.lading-cta {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}   

.landing-hero__button {
    padding: 24px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    
}


.ladding-hero--top::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
  }

.landing-hero__video{
    height: 1000px;
    width: 100%;
    position: absolute;
    bottom: -175px;
    z-index: -2;
}

.landing-customization__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.landing-customization__picture{
    border-radius: 12px;
}
.landing-hero--test{
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url("../assets/images/Prøvekjøring.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
}